/* Nodeflow styles */

.clear-left {
  clear: left;
}
#block-system-main {
  width: 100%;
}
.published-view-block {
  float: right;
  clear: right;
  width: 60%;
}
.draft-view-block {
  float: left;
  width: 36%;
}
#queue-list{
  float: right;
}
#nodeflow-draft .views-field-publish-on{
  white-space: nowrap;
}
.views-field-status {
  display: none;
}
#nodeflow-published {
  border: 1px solid #ccc;
}
#nodeflow-published tbody tr {
  background-color: #ecfbd4;
  border-top: 2px solid #fff;
}
#nodeflow-published tbody tr.draft {
  background-color: #ffcc66;
}
#nodeflow-published tbody tr.scheduled {
  background-color: #e5f1f4;
}
#nodeflow-published tbody tr.scheduled td.views-field-handle,
#nodeflow-published tbody tr.scheduled td.views-field-counter {
  background-color: #fff;
}
#nodeflow-published tbody tr.locked {
  background-color: #fc8d72;
}
#nodeflow-published .views-field-handle {
  width: 44px;
}
#nodeflow-published .views-field-operations {
  width: 115px;
}
#nodeflow-published .views-field-operations .lock {
  background-image: url('../images/unlock.png');
}
#nodeflow-published .locked .views-field-operations .lock {
  background-image: url('../images/lock.png');
}
#nodeflow-published .views-field-operations .remove {
  background-image: url('../images/remove.png');
}
#nodeflow-published .views-field-operations .edit {
  background-image: url('../images/file-edit.png');
}
#nodeflow-published .views-field-operations .icon {
  cursor: pointer;
  float: left;
  height: 20px;
  margin: 0px 8px;
  width: 20px;
}

#edit-actions--2 {
  margin-top: 22px;
}
a.tabledrag-handle .handle {
  background-position: 0px 4px;
  cursor: move;
  float: left;
  margin: 0px;
  margin-right: 10px;
  padding: 0px 0px 4px 4px;
}
.locked .tabledrag-handle .handle {
  visibility: hidden;
}

.lockicon,
.removeicon {
  cursor: pointer;
}

.schedule_date,
.schedule_time {
  border: 1px solid #ccc;
  font-size: 1em;
  width: 68px;
}
.schedule_time {
  margin-left: 4px;
  width: 36px;
}

/* Override datepicker and timepicker styles */
.ui-datepicker {
  font-size: 0.9em !important;
}

.timeEntry_control {
  display: none !important;
}

.ui-timepicker-container {
  overflow: visible;
}
.ui-timepicker-standard {
  border: 0px;
  font-size: 0.9em;
}
.ui-timepicker-standard .ui-menu-item a {
  padding: 0px;
}

/* Online users styling */
.users-online{
  float: right;
}
.users-online ul{
  display: inline;
  margin: 0px !important;
}
.users-online li{
  display: inline;
  list-style: none;
  height: 20px;
  background-image: url('../images/online.png');
  background-repeat: no-repeat;
  background-position: 0px -2px;
  padding-left: 20px;
  margin-left: 10px;
}
